<%= render 'layouts/nav_bar' %>
<body>
<div id="trip-header">
<h1>Create Trip:</h1>
</div>

<div class="container-fluid">
<div class="dashboard">
<div class="menu-column">

</div>

<div class="main-column">
<%= render 'create_trip_form', trip: @trip %>
</div>


</div>
</div>
</body>