<h1>TREK CHEQUE</h1>


<div id="background-video">
  <%= video_tag("The-Truck.mp4", autoplay: :autoplay, loop: :loop) %>
</div>

<%= render 'login_form', user: @user %>

<%= render 'register_form', user: @user %>

<%= link_to 'Back', users_path %>
