@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');

body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
}

p, ol, ul, td {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 18px;
}

a {
  color: #000;
  text-decoration: none !important;

  &:visited {
    color: #666;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 8px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
  margin: 0 auto;
  margin-bottom: inherit;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 18px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 18px;
    list-style: square;
    line-height: 24px;
  }
}

label {
  display: block;
}

.navbar-default {
  background-color: #004d4d;
}

.navbar-brand-name a{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  display: inline-block;
  padding-left: 1em;
  padding-bottom: .1em;
  padding-top: .1em;
  color: white;
}
.navbar-brand-name a:hover{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  display: inline-block;
  padding-left: 1em;
  padding-bottom: .1em;
  padding-top: .1em;
  color: white;
}

.nav-link:hover {
    border: 1px solid white;
    border-radius: 6px;
}

.navbar-brand-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  display: inline-block;
  padding-left: 1em;
  padding-bottom: .75em;
  padding-top: .75em;
  color: white;
}

#navbarSupportedContent {
  padding-top: 1em;
  padding-right: 2em;
  float: right;
}

#navbarSupportedContent a{
  color: white;
}
#navbarSupportedContent a:hover{
  color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #095c5c;
  border-radius: 4px;
}

.dropdown-menu  {
  background-color: #026d6d;
}
.padding-img {
  padding-bottom: 20px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-radius: 4px;
}

.close {
    color: #fff !important; 
    opacity: 1 !important;
}