@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
}

p, ol, ul, td {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 18px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 8px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 18px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 18px;
    list-style: square;
    line-height: 24px;
  }
}

label {
  display: block;
}

.navbar-default {
  background-color: rgb(45, 185, 174)
}

.navbar a:hover {
    border: 1px solid #00415d;
    border-radius: 6px;
  }

.navbar-brand-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  display: inline-block;
  padding-left: 1em;
  padding-bottom: .5em;
  padding-top: .5em;
}
#navbarSupportedContent {
  padding-top: 1em;
  padding-right: 2em;
  float: right;
}

#navbarSupportedContent a{
  color: white
}
#navbarSupportedContent a:hover{
  color: #00415d;
}
#navbarSupportedContent a:hover{
  color: #00415d;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: rgb(91, 160, 154);
  border-radius: 4px solid #00415d;
}

.dropdown-menu  {
  background-color: #00415d;
}