// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#trip-header {
    grid-area: header;
    padding-top: 75px;
    text-align: center;
}

.container-fluid {
    width: 100%;
}

.dashboard {
    display: grid !important;
    grid-template-columns: 1fr 2fr 1fr !important;
    padding-top: 15px;
    padding: 24px;
    text-align: center;
}

.column:not(:last-child) {
    border-right: 1px #0173a3 solid;
}

.column {
    padding: 12px;
}

.col {
    display: grid;
    grid-gap: 24px;
}

.field {
  padding: 8px !important;
  font-size: 20px;
}

.create_trip_form {
    text-align: center
}

.edit-trip_form {
    text-align: center;
}


.accomodation-image img {
    max-width: 250px;
    float: center;
    border: 3px solid #00415d;
}

.accomodation-url {
    max-width: 275px;
    word-break: break-all;
    justify-content: center;
    padding-left: 30px;
}

.modal-content {
    width: 60% !important;
    max-width: 600px !important;
    padding: 0 !important;
    border: 2px solid #004d4d !important;
    border-radius: 14px !important;
}

.modal h1 {
    margin-top: 0;
    text-align: left;
    padding-left: 5%;
}

.modal-header {
    background-color: #004d4d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding-bottom: 2px !important;   
}

.modal-footer {
    padding-right: 5% !important;
}

#addexpensebtn {
  background-color: rgba(211, 191, 162, 0.1);
	outline: none;
    color: darkcyan;
	font-size: 18px;
	height: auto;
	font-weight: normal;
	padding: 6px 15px;
}
#addexpensebtn:hover,
#addexpensebtn:focus {
	color: #fff;
	background-color: #016868;
	border-color: #004d4d;
}

#open-directions {
  background-color: rgba(211, 191, 162, 0.1);
	outline: none;
    color: darkcyan;
	font-size: 18px;
	height: auto;
	font-weight: normal;
	padding: 6px 15px;
}
#open-directions:hover,
#open-directions:focus {
	color: #fff;
	background-color: #016868;
	border-color: #004d4d;
}

.btn-info {
  background-color: rgba(211, 191, 162, 0.1);
  outline: none;
  color: darkcyan;
  font-size: 18px;
  height: auto;
  font-weight: normal;
  padding: 6px 15px;
  border-radius: 6px;
  border: 2px solid darkcyan;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
	color: #fff;
    background-color: #016868;	
    border-color: #004d4d;
}

#myBtn {
  background-color: rgba(211, 191, 162, 0.1);
  outline: none;
  color: darkcyan;
  font-size: 18px;
  height: auto;
  font-weight: normal;
  padding: 6px 15px;
  border-radius: 6px;
  border: 2px solid darkcyan;
}
#myBtn:hover,
#myBtn:focus,
#myBtn:active {
	color: #fff;
	background-color: #016868;
	border-color: #004d4d;
    border-radius: 6px;
}
