// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#trip-header {
    grid-area: header;
    padding-top: 75px;
    text-align: center;
}

.container-fluid {
    width: 100%;
}

.dashboard {
    display: grid !important;
    grid-template-columns: 1fr 2fr 1fr !important;
    padding-top: 15px;
    padding: 24px;
    text-align: center;
}

.column:not(:last-child) {
    border-right: 1px #0173a3 solid;
}

.column {
    padding: 12px;
}

.col {
    display: grid;
    grid-gap: 24px;
}

.field {
  padding: 8px !important;
  font-size: 20px;
}

.create_trip_form {
    text-align: center
}

.edit-trip_form {
    text-align: center;
}


.accomodation-image img {
    max-width: 250px;
    float: center;
    border: 3px solid #00415d;
}

.accomodation-url {
    max-width: 275px;
    word-break: break-all;
    justify-content: center;
    padding-left: 30px;
}

.modal-content {
    width: 60% !important;
    max-width: 600px !important;
    padding: 0 !important;
    border: 2px solid #004d4d !important;
    border-radius: 14px !important;
}

.modal h1 {
    margin-top: 0;
    text-align: left;
    padding-left: 5%;
}

.modal-header {
    background-color: #004d4d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding-bottom: 2px !important;   
}

.modal-footer {
    padding-right: 5% !important;
}

#addexpensebtn {
  background-color: white;
	outline: none;
    color: darkcyan;
	font-size: 18px;
	height: auto;
	font-weight: normal;
	padding: 6px 15px;
}
#addexpensebtn:hover,
#addexpensebtn:focus {
	color: #fff;
	background-color: #016868;
	border-color: #004d4d;
}

#open-directions {
  background-color: white;
	outline: none;
    color: darkcyan;
	font-size: 18px;
	height: auto;
	font-weight: normal;
	padding: 6px 15px;
}
#open-directions:hover,
#open-directions:focus {
	color: #fff;
	background-color: #016868;
	border-color: #004d4d;
}

#owe-btn {
  background-color: white;
	outline: none;
    color: darkcyan;
	font-size: 18px;
	height: auto;
	font-weight: normal;
	padding: 6px 15px;
}
#owe-btn:hover,
#owe-btn:focus {
	color: #fff;
	background-color: #016868;
	border-color: #004d4d;
}

.btn-info {
  background-color: white;
  outline: none;
  color: darkcyan;
  font-size: 18px;
  height: auto;
  font-weight: normal;
  padding: 6px 15px;
  border-radius: 6px;
  border: 2px solid darkcyan;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
	color: #fff;
    background-color: #016868;	
    border-color: #004d4d;
}

#myBtn {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     font-size: 1em;
     margin-left: .3em;
}

.copyLink {
  background-color: white;
  outline: none;
  color: darkcyan;
  font-size: 18px;
  height: auto;
  font-weight: normal;
  padding: 6px 15px;
  border-radius: 6px;
  border: 2px solid darkcyan;
}
.copyLink:hover,
.copyLink:focus,
.copyLink:active {
	color: #fff;
    background-color: #016868;	
    border-color: #004d4d;
}

.tripMessage {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 8px;
    padding: 0 8px 8px 8px;
}

.group-pop-up {
    width: 70% !important;
    max-width: 300px !important;
    margin-bottom: 40px;
}

#messages {
    text-align: left;
}

.messages {
    margin-bottom: 6px !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.messages-container {
    background-color: darkcyan;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: -20px;    
}