// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-inline {
	float: right;
}
body {
}

h1.trekcheque {
	width: 100%;
	position: absolute;
	top: 0;
	left: 50px;
	font-family: 'Permanent Marker', cursive;
	font-size: 70px;
	width: -webkit-fill-available;
	padding-top: 25px;
	color: white;
}
div.trekcheque {
	display: inline-block;
	text-align: center;
	width: max-content;
	position: absolute;
	top: 1;
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
}

#login-header {
	position: relative;
	float: right;
	font-size: 30px;
	padding-right: 75px;
	padding-top: 30px;
	font-family: 'Montserrat', sans-serif;
	color: white
}

#scroll-to-top  {
	position: fixed;
	bottom: 0;
	right: 0;
	float: right;
	font-size: 55px;
	padding-right: 30px;
	padding-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
}

#login-container {
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 30px;
}

#about {
	margin-top: 90px;
	padding-top: 50px;
	text-align: center;
	border-bottom: solid 1px;
	margin-bottom: 50px;
}

#insta {

	width: -webkit-fill-available;
	padding-bottom: 50px;
	text-align: center;
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

.panel-login a:hover {
    border: 1px solid #00415d;
    border-radius: 6px;
  }

.trip-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
	grid-gap: 16px;
	justify-content: center;
}

.trip-box {
	margin: 8px;
}

.trip-link:hover {
    border: 1px solid #00415d;
	border-radius: 6px;
}

.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 24px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #5a7791;
	font-size: 24px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 20px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #5a7791;
	outline: none;
	color: #fff;
	font-size: 20px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}
.btn-register {
	background-color: #5a7791;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}

//user-page

#user-header {
	text-decoration: underline;
	color: #00415d;
	grid-area: header;
	padding-top: 60px;
	text-align: center;
	font-size: 3em;
}
.user-email {
	color: #00415d;
	text-align: center;
	padding-bottom: 2em;
	font-size: 1.5em;
}
.trip-link {
	padding-bottom: 20px;
	font-size: 1em;
	text-align: center
}
div.container#about h2 {
	padding-top: 50px;
	padding-bottom: 30px;
	border-top: solid 1px;
}
div.container#about p {
	margin-bottom: 50px;
}
div.container#about {
	margin-top: 350px;
}
div.login-register {
}
.login-register .col-md-6 {
	padding-top: 150px;
}
div.panel.panel-login {
	border-radius: 20px;
	opacity: 0.9;
}
div.panel-heading {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.trekcheque-brief {
	font-style: italic; 
	text-align: center; 
	padding-bottom: 5px;
	word-wrap: break-word; 
	width: 100%;
	font-size: 5em;
	font-family: 'Montserrat', sans-serif;
	width: -webkit-fill-available;
	padding-top: 300px;
	color: white;
	line-height: 80px;
}

.fa-instagram {
	padding-bottom: 50px;
}

#how-to {
	border-bottom: solid 1px;
	padding-bottom: 50px;
}

#how-to img {
    float: left;
    margin-right: 10px;
		clear: both;
		width: 500px;
		border: 1px solid #00415d;
		border-radius: 9px;
		vertical-align: middle;

  display: inline-block;
}

div.container#how-to p {
	padding-left: 50px;
  overflow: auto;
	display: block;
}

div.container#how-to h2 {
	border-top: solid 1px;
	padding-top: 25px;
	text-align: center;
	padding-bottom: 25px;
}
